
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
<head>
    <partial name="_MetaRefrences" />
    <partial name="_CssRefrences" />
</head>
<body>
    <!--Preloader-->
    <div id="preloader">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="/assets/img/logo/preloader.png" alt="Preloader" /></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    <!-- header-area -->
    @await Component.InvokeAsync("SiteHeader")
    <!-- header-area-end -->
    <!-- main-area -->
    @RenderBody()
    <!-- main-area -->
    <!-- footer-area -->
    @await Component.InvokeAsync("SiteFooter")
    <!-- footer-area-end -->

    <partial name="_JsRefrences" />



</body>
</html>
