@model List<string>;

@{
    var roles = ViewBag.Role;
}


<ul class="scrollable">

    <!-------------------------مدیریت اصلی سایت------------------------->

    <li class="side-menu__divider">
        مدیریت سایت
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="table2" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مدیریت کاربران</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a asp-area="Admin" asp-controller="CMS" asp-action="SiteUserList" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="album" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">لیست کاربران سایت</div>
                </a>
                <!-- BEGIN: ثانیه Child -->
                <!-- END: ثانیه Child -->
            </li>
            <li>
                <a asp-area="Admin" asp-controller="CMS" asp-action="AddRole" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-left" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        افزودن کاربر جدید
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-product-grid.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-left" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        افزودن نقش به کاربر
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>

        </ul>
        <!-- END: ثانیه Child -->
    </li>

    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="table2" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مدیریت نقش ها</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a asp-area="Admin" asp-controller="CMS" asp-action="SiteRoleList" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="album" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">لیست نقش های سایت</div>
                </a>
                <!-- BEGIN: ثانیه Child -->
                <!-- END: ثانیه Child -->
            </li>
            <li>
                <a asp-area="Admin" asp-controller="CMS" asp-action="AddRole" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-left" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        افزودن نقش جدید
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>

        </ul>
        <!-- END: ثانیه Child -->
    </li>

    <li>
        <a href="exort-interactive.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="keyboard" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تعاملی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------مدیریت اصلی سایت------------------------->

    <!--  مدیریت منابع انسانی -->
    @if (Model != null && Model.Contains("MSCRManagement"))
    {
        <li class="side-menu__divider">
            مدیریت منابع انسانی
        </li>
        <li>
            <a asp-area="Admin" asp-controller="HumanResources" asp-action="EmployeeManagement" class="side-menu__link ">
                <i data-tw-merge="" data-lucide="gauge-circle" class=" stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                <div class="side-menu__link__title">مدیریت کارمندان</div>
            </a>
            <!-- BEGIN: ثانیه Child -->
            <!-- END: ثانیه Child  RecruitmentManagement-->
        </li>
        <li>
            <a asp-area="Admin" asp-controller="HumanResources" asp-action="RecruitmentManagement" class="side-menu__link  ">
                <i data-tw-merge="" data-lucide="activity-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                <div class="side-menu__link__title">مدیریت استخدام و جذب نیرو</div>
            </a>
            <!-- BEGIN: ثانیه Child -->
            <!-- END: ثانیه Child -->
        </li>
        <li>
            <a href="exort-dashboard-overview-3.html" class="side-menu__link ">
                <i data-tw-merge="" data-lucide="album" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                <div class="side-menu__link__title">مدیریت حضور و غیاب</div>
            </a>
            <!-- BEGIN: ثانیه Child -->
            <!-- END: ثانیه Child -->
        </li>
        <li>
            <a href="exort-dashboard-overview-4.html" class="side-menu__link ">
                <i data-tw-merge="" data-lucide="book-marked" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                <div class="side-menu__link__title">ارزیابی عملکرد</div>
            </a>
            <!-- BEGIN: ثانیه Child -->
            <!-- END: ثانیه Child -->
        </li>
        <li>
            <a href="exort-dashboard-overview-5.html" class="side-menu__link ">
                <i data-tw-merge="" data-lucide="hard-drive" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                <div class="side-menu__link__title">آموزش توسعه کارکنان</div>
            </a>
            <!-- BEGIN: ثانیه Child -->
            <!-- END: ثانیه Child -->
        </li>
        <li>
            <a href="exort-dashboard-overview-6.html" class="side-menu__link ">
                <i data-tw-merge="" data-lucide="mouse-pointer-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                <div class="side-menu__link__title">مدیریت حقوق و مزایا</div>
            </a>
            <!-- BEGIN: ثانیه Child -->
            <!-- END: ثانیه Child -->
        </li>
    }

    

    <!-------------------------مدیریت بازاریابی و فروش------------------------->
    <li class="side-menu__divider">
        مدیریت فروش و بازاریابی + مدیریت مشتریان
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="table2" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مدیریت مشتریان</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a href="exort-product-list.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-top" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        ثبت مشتری
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-product-grid.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-left" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        لیست مشتریان
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
        </ul>
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-file-manager-list.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="panel-right-inactive" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مدیریت فایل - لیست</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-file-manager-grid.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="panel-top-close" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مدیریت فایل - شبکه</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-point-of-sale.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="panel-top-inactive" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">نقطه فروش</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-chat.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="mail-open" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">چت</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-calendar.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="calendar-range" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تقویم</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>



    <li class="side-menu__divider">
        داشبورد شخصی
    </li>
    <li>
        <a href="exort-profile-overview.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="presentation" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مرور پروفایل</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-profile-overview-events.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="calendar-range" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">رویدادها</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-profile-overview-achievements.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="medal" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">دستاوردها</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-profile-overview-contacts.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="tablet-smartphone" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">مخاطبین</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-profile-overview-default.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="snail" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">پیش‌فرض</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------داشبورد شخصی------------------------->

    <li class="side-menu__divider">
        تنظیمات عمومی
    </li>
    <li>
        <a href="exort-settings.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="briefcase" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">اطلاعات پروفایل</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-email-settings.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="mail-check" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تنظیمات ایمیل</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-security.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="fingerprint" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">امنیت</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-preferences.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="radar" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">ترجیحات</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-two-factor-authentication.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="door-open" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">احراز هویت دو عاملی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-device-history.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="keyboard" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تاریخچه دستگاه</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-notification-settings.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="ticket" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تنظیمات اعلان</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-connected-services.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="bus-front" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">خدمات متصل</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-social-media-links.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="podcast" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">پیوندهای رسانه‌های اجتماعی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-settings-account-deactivation.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="package-x" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">غیرفعال‌سازی حساب کاربری</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------تنظیمات عمومی------------------------->

    <li class="side-menu__divider">
        حساب کاربری
    </li>
    <li>
        <a href="exort-billing.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="percent-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">صورتحساب</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-invoice.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="database-zap" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">فاکتور</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------حساب کاربری------------------------->

    <li class="side-menu__divider">
        تجارت الکترونیک
    </li>
    <li>
        <a href="exort-categories.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="book-marked" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">دسته‌بندی‌ها</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-add-product.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="compass" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">افزودن محصول</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="table2" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">محصولات</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a href="exort-product-list.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-top" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        لیست محصول
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-product-grid.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="layout-panel-left" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        شبکه محصول
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
        </ul>
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="sigma-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تراکنش‌ها</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a href="exort-transaction-list.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="divide-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        لیست تراکنش
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-transaction-detail.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="plus-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        جزئیات تراکنش
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
        </ul>
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="file-archive" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">فروشندگان</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a href="exort-seller-list.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="file-image" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        لیست فروشندگان
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-seller-detail.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="file-box" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        جزئیات فروشنده
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
        </ul>
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-reviews.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="goal" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">نقد و بررسی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------تجارت الکترونیک------------------------->

    <li class="side-menu__divider">
        احراز هویت
    </li>
    <li>
        <a href="exort-login.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="book-key" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">ورود</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-register.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="book-lock" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">ثبت نام</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------احراز هویت------------------------->

    <li class="side-menu__divider">
        اجزاء
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="layout-panel-left" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">جدول</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a href="exort-regular-table.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="flip-vertical" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        معمولی جدول
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-tabulator.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="flip-horizontal" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        Tabulator
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
        </ul>
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="javascript:;" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="memory-stick" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">پوشش</div>
            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-[1] w-5 h-5 side-menu__link__chevron"></i>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <ul class="hidden">
            <li>
                <a href="exort-modal.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="menu-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        مودال
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-slideover.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="newspaper" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        سرریز
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
            <li>
                <a href="exort-notification.html" class="side-menu__link ">
                    <i data-tw-merge="" data-lucide="panel-bottom" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
                    <div class="side-menu__link__title">
                        اطلاعیه
                    </div>
                </a>
                <!-- BEGIN: Third Child -->
                <!-- END: Third Child -->
            </li>
        </ul>
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-tab.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="package2" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تب</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-accordion.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="pocket" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">آکاردئون</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-button.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="plus-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">دکمه</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-alert.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="presentation" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">هشدار</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-progress-bar.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="shield-ellipsis" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">نوار پیشرفت</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-tooltip.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="clapperboard" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">راهنمای ابزار</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-dropdown.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="flip-vertical" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">کشویی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-typography.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="file-type2" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">تایپوگرافی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-icon.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="aperture" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">آیکون</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-loading-icon.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="droplets" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">بارگذاری آیکون</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-regular-form.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="gallery-horizontal-end" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">فرم معمولی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-datepicker.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="microwave" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">انتخاب تاریخ</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-tom-select.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="disc3" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">انتخاب تام</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-file-upload.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="sandwich" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">بارگذاری فایل</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-wysiwyg-editor.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="hop-off" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">ویرایشگر Wysiwyg</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-validation.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="clipboard-type" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">اعتبارسنجی</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-chart.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="pie-chart" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">نمودار</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-slider.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="kanban-square" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">اسلایدر</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <li>
        <a href="exort-image-zoom.html" class="side-menu__link ">
            <i data-tw-merge="" data-lucide="image" class="stroke-[1] w-5 h-5 side-menu__link__icon"></i>
            <div class="side-menu__link__title">بزرگنمایی تصویر</div>
        </a>
        <!-- BEGIN: ثانیه Child -->
        <!-- END: ثانیه Child -->
    </li>
    <!-------------------------اجزا------------------------->

</ul>